.manage__list{
    margin-bottom: 150px;
    margin-top: 94px;
    &__item{
        list-style-type: none;
        display: flex;
        margin-top: 80px;
    }
}
.manage__content{
    margin-left: 125px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    width: 350px;
    &--heading{
            font-family: 'Ibarra Real Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.357143px;
    color: $main-bg-grayish-dark-blue;
    padding-top: 103px;
    padding-bottom: 28px;
            }
            &--text{
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #33323D;
    mix-blend-mode: normal;
    opacity: 0.8;
    padding-bottom: 34px;
}
&--link{
            padding-bottom: 103px;
            border: 1px solid $main-bg-grayish-dark-blue;
            font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $main-bg-grayish-dark-blue;
    padding: 17px 33px;
    text-decoration: none;
    margin-bottom: 110px;
    &:hover{
        background: $main-bg-grayish-dark-blue;
        color: #fff;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
}
        }
        
}
.manage__content-2{
    width: 350px;
    margin-right: 125px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
@media only screen and (max-width: 768px){
    .manage-img{
        width: 339px;
        height: 314px;
        margin-left: 39px;
        margin-top: 20px;
    }
    .manage__content{
        margin-left: 69px;
        width: 281px;
        height: 416px;
    }
    .manage__content--heading{
        padding-top: 32px;
    }
    .manage__content-2{
        width: 281px;
        margin-right: 69px;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        height: 416px;
        margin-left: 39px;
    }
    .manage__content-2 img{
        margin-left: 0;
    }
    .bookmark-img{
        width: 339px;
        height: 314px;
        margin-left: 0;
        margin-top: 20px;
    }
}
@media only screen and (max-width:427px){
    .manage__list__item{
    flex-direction: column;   
    }
    .manage__list__item:nth-child(1){
        flex-direction: column; 
        }
        .manage-img{
            margin-left: 10px;
            
        }
        .manage__content{
            margin-top: 32px;
            margin-left: 32px;
            width: 281px;
            height: 416px;
        }
        .bookmark-img{
            width: 339px;
            height: 314px;
            margin-left: 13px;
            margin-top: 72px;
        }
}
